MvcMovie/obj/MvcMovie.csproj.nuget.cache
MvcMovie/obj/MvcMovie.csproj.nuget.dgspec.json
MvcMovie/obj/MvcMovie.csproj.nuget.g.props
MvcMovie/obj/MvcMovie.csproj.nuget.g.targets
MvcMovie/obj/project.assets.json
MvcMovie/.vscode
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.assets.cache
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.csproj.CopyComplete
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.csproj.FileListAbsolute.txt
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.csprojAssemblyReference.cache
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.dll
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.exe
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.MvcApplicationPartsAssemblyInfo.cache
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.pdb
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.RazorCoreGenerate.cache
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.RazorTargetAssemblyInfo.cache
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.RazorTargetAssemblyInfo.cs
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.TagHelpers.input.cache
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.TagHelpers.output.cache
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.Views.dll
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.Views.pdb
MvcMovie/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
MvcMovie/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
MvcMovie/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
MvcMovie/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
MvcMovie/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
MvcMovie/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
MvcMovie/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
MvcMovie/obj/Debug/netcoreapp3.1/staticwebassets/MvcMovie.StaticWebAssets.Manifest.cache
MvcMovie/obj/Debug/netcoreapp3.1/staticwebassets/MvcMovie.StaticWebAssets.xml
MvcMovie/bin/Debug/netcoreapp3.1/appsettings.Development.json
MvcMovie/bin/Debug/netcoreapp3.1/appsettings.json
MvcMovie/bin/Debug/netcoreapp3.1/MvcMovie.deps.json
MvcMovie/bin/Debug/netcoreapp3.1/MvcMovie.dll
MvcMovie/bin/Debug/netcoreapp3.1/MvcMovie.exe
MvcMovie/bin/Debug/netcoreapp3.1/MvcMovie.pdb
MvcMovie/bin/Debug/netcoreapp3.1/MvcMovie.runtimeconfig.dev.json
MvcMovie/bin/Debug/netcoreapp3.1/MvcMovie.runtimeconfig.json
MvcMovie/bin/Debug/netcoreapp3.1/MvcMovie.Views.dll
MvcMovie/bin/Debug/netcoreapp3.1/MvcMovie.Views.pdb
MvcMovie/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.assets.cache
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.csprojAssemblyReference.cache
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.assets.cache
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.csprojAssemblyReference.cache
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.assets.cache
MvcMovie/obj/Debug/netcoreapp3.1/MvcMovie.csprojAssemblyReference.cache
