MvcMovie/obj/MvcMovie.csproj.nuget.cache
MvcMovie/obj/MvcMovie.csproj.nuget.dgspec.json
MvcMovie/obj/MvcMovie.csproj.nuget.g.props
MvcMovie/obj/MvcMovie.csproj.nuget.g.targets
MvcMovie/obj/project.assets.json
MvcMovie/.vscode